img{
            
    margin-left: 45%;
    border-radius: 50%;

   
}
h1{
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    text-align: center;
    color:rgb(21, 121, 21);
    background-color: rgba(12, 238, 238, 0.5);
}
p{
    border: 5px double black;
    border-radius: 10px;
    font-size: 20px;
    background-color: brown;
    padding: 10px;
    color: white;
   
}
h3{
    border: 5px groove rgb(0, 0, 0);
   
    padding: 20px;
    font-size: 25px;
    background-color: cornflowerblue;
}
#p1{
    background-color: rgb(125, 139, 0);
}
#p2{
    background-color: darkolivegreen;
}
.SSC{
    width: 32%;
    border: 3px solid navy;
    padding: 5px;
    background-color: rgb(194, 158, 92);
    float: left;
}
.HSC{
    width: 32%;
    background-color: palevioletred;
    border: 3px solid black;
    padding: 5px;
    float: left;
    overflow: hidden;
}
.varsity{
    width: 32.5%;
    background-color: rgb(173, 169, 211);
    border: 3px solid black;
    padding: 5px;
    overflow: hidden;
}
.lorem{
    background-color: teal;
    border: 3px solid white;
    width: 31%;
    margin-left: 18px;
    padding-left:2px;
    color: rgb(163, 216, 150);
    float: left;
    overflow: hidden;
    
}
.lorem p{
    color: black;
    background-color: white;
    text-align: justify;
}
.nam{
    color: rgb(30, 236, 226);
    float: left;
    text-align: center;
    border: none;
    background-color: tomato;
    
}
.md{
    text-align: center;
}